
maxClientCnxns=50
# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the port at which the clients will connect
clientPort=2181

# below are the non-default settings

# the directory where the snapshot is stored.
dataDir=/etc/zookeeper
# maps zookeeper id to master ip  

server.1={{ master1 }}:2888:3888
server.2={{ master2 }}:2888:3888
server.3={{ master3 }}:2888:3888
